@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Roboto&family=Bebas+Neue&family=Fugaz+One&display=swap");
body {
  background-color: transparent;
}

.nombre-span {
  position: relative;
  top: -10%;
}

.nombreking {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  width: 300px;
  height: 60px;
  background-color: #2b2d42;
  position: absolute;
  font-size: 30px;
  top: 0;
  left: 50%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.puntoking {
  position: absolute;
  top: 42px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e12139;
  border-radius: 50%;
}

.bigtext {
  font-size: 200px;
  font-family: "Fugaz One", cursive;
  -webkit-animation: movebig 2s ease 0s;
          animation: movebig 2s ease 0s;
}

.ganador {
  font-family: "Fugaz One", cursive;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
  -webkit-animation: moveganador 2s ease 0s;
          animation: moveganador 2s ease 0s;
}

.opaco {
  background-color: rgba(0, 0, 0, 0.397);
  width: 100vw;
  height: 100vh;
  -webkit-animation: opacar 2s ease 0s;
          animation: opacar 2s ease 0s;
}

@-webkit-keyframes opacar {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes opacar {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@-webkit-keyframes movebig {
  0% {
    font-size: 0px;
  }
  90% {
    font-size: 220px;
  }
  100% {
    font-size: 200px;
  }
}

@keyframes movebig {
  0% {
    font-size: 0px;
  }
  90% {
    font-size: 220px;
  }
  100% {
    font-size: 200px;
  }
}

@-webkit-keyframes moveganador {
  0% {
    font-size: 0px;
  }
  90% {
    font-size: 60px;
  }
  100% {
    font-size: 50px;
  }
}

@keyframes moveganador {
  0% {
    font-size: 0px;
  }
  90% {
    font-size: 60px;
  }
  100% {
    font-size: 50px;
  }
}

@-webkit-keyframes ocultarganador {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  99% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    display: none;
  }
}

@keyframes ocultarganador {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  99% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    display: none;
  }
}

@-webkit-keyframes hidenombres {
  0% {
    color: white;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    color: transparent;
  }
}

@keyframes hidenombres {
  0% {
    color: white;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    color: transparent;
  }
}

.ocultar {
  width: 100vw;
  height: 100vh;
  -webkit-animation: ocultarganador 1s ease forwards;
          animation: ocultarganador 1s ease forwards;
}

.ocultar-ganador {
  position: absolute;
  top: 50%;
  font-family: "Fugaz One", cursive;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
  -webkit-animation: hidenombres 2s ease forwards;
          animation: hidenombres 2s ease forwards;
}

.puntos {
  font-family: "Fugaz One", sans-serif;
  color: #fff;
  font-size: 26px;
}
/*# sourceMappingURL=colina.css.map */