@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Roboto&display=swap');
$red: #e82c25;
body{
    background-color: transparent;
}
.nombreking{
    color: #fff;
    font-family: 'Graduate', cursive;
    width: 250px;
    height: 40px;
    background-color:rgb(0, 0, 0);
    position:absolute;
    font-size: 26px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
.puntoking{
    position:absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$red;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(255,15,15,1);
-moz-box-shadow: 0px 0px 12px 0px rgba(255,15,15,1);
box-shadow: 0px 0px 12px 0px rgba(255,15,15,1);
    animation: sombra 2s ease 0s infinite alternate; 
}
.bigtext{
    font-size: 200px;
    font-family: 'Graduate', cursive;
    animation: movebig 2s ease 0s;
}
.ganador{
    font-family: 'Graduate', cursive;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    animation: moveganador 2s ease 0s;
}
.opaco{
    background-color: rgba(0, 0, 0, 0.397);
    width: 100vw;
    height: 100vh;
    animation: opacar 2s ease 0s;
}
@keyframes opacar{
    0%{
        background-color: rgba(0, 0, 0, 0);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@keyframes movebig{
    0%{
        font-size: 0px;
    }
    90%{
        font-size: 220px;
    }
    100%{
        font-size: 200px;
    }
}
@keyframes moveganador{
    0%{
        font-size: 0px;
    }
    90%{
        font-size: 60px;
    }
    100%{
        font-size: 50px;
    }
}

.ocultar{
    display: none;
}

.puntos{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 26px;
}

@keyframes sombra{
    0%{
        -webkit-box-shadow: 0px 0px 20px 0px rgba(255,15,15,0);
        -moz-box-shadow: 0px 0px 20px 0px rgba(255,15,15,0);
        box-shadow: 0px 0px 20px 0px rgba(255,15,15,0);
    }
    100%{
        -webkit-box-shadow: 0px 0px 20px 0px rgba(255,15,15,1);
        -moz-box-shadow: 0px 0px 20px 0px rgba(255,15,15,1);
        box-shadow: 0px 0px 20px 0px rgba(255,15,15,1);
    }
}
