body {
  overflow: hidden;
}

.fondo {
  background-color: #221A4D;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.arriba {
  z-index: 9999;
}

.logo593 {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

span.triangle:nth-child(0) {
  width: 0;
  height: 0;
  border-top: 61px solid transparent;
  border-right: 104px solid #2A356D;
  border-bottom: 100px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 50vh;
  left: 55vw;
  -webkit-transform: rotate(56deg);
          transform: rotate(56deg);
  -webkit-animation: 100s move0 infinite linear alternate;
          animation: 100s move0 infinite linear alternate;
}

@-webkit-keyframes move0 {
  0% {
    top: 50vh;
    left: 55vw;
    -webkit-transform: rotate(61deg);
            transform: rotate(61deg);
  }
  100% {
    top: 54vh;
    left: 31vw;
    -webkit-transform: rotate(317deg);
            transform: rotate(317deg);
  }
}

@keyframes move0 {
  0% {
    top: 50vh;
    left: 55vw;
    -webkit-transform: rotate(61deg);
            transform: rotate(61deg);
  }
  100% {
    top: 54vh;
    left: 31vw;
    -webkit-transform: rotate(317deg);
            transform: rotate(317deg);
  }
}

span.triangle:nth-child(1) {
  width: 0;
  height: 0;
  border-top: 83px solid transparent;
  border-right: 115px solid #2A356D;
  border-bottom: 91px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 37vh;
  left: 51vw;
  -webkit-transform: rotate(9deg);
          transform: rotate(9deg);
  -webkit-animation: 100s move1 infinite linear alternate;
          animation: 100s move1 infinite linear alternate;
}

@-webkit-keyframes move1 {
  0% {
    top: 37vh;
    left: 51vw;
    -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
  }
  100% {
    top: 63vh;
    left: 81vw;
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
  }
}

@keyframes move1 {
  0% {
    top: 37vh;
    left: 51vw;
    -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
  }
  100% {
    top: 63vh;
    left: 81vw;
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
  }
}

span.triangle:nth-child(2) {
  width: 0;
  height: 0;
  border-top: 91px solid transparent;
  border-right: 134px solid #2A356D;
  border-bottom: 89px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 87vh;
  left: 77vw;
  -webkit-transform: rotate(141deg);
          transform: rotate(141deg);
  -webkit-animation: 100s move2 infinite linear alternate;
          animation: 100s move2 infinite linear alternate;
}

@-webkit-keyframes move2 {
  0% {
    top: 87vh;
    left: 77vw;
    -webkit-transform: rotate(164deg);
            transform: rotate(164deg);
  }
  100% {
    top: 7vh;
    left: 10vw;
    -webkit-transform: rotate(168deg);
            transform: rotate(168deg);
  }
}

@keyframes move2 {
  0% {
    top: 87vh;
    left: 77vw;
    -webkit-transform: rotate(164deg);
            transform: rotate(164deg);
  }
  100% {
    top: 7vh;
    left: 10vw;
    -webkit-transform: rotate(168deg);
            transform: rotate(168deg);
  }
}

span.triangle:nth-child(3) {
  width: 0;
  height: 0;
  border-top: 97px solid transparent;
  border-right: 101px solid #2A356D;
  border-bottom: 88px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 91vh;
  left: 32vw;
  -webkit-transform: rotate(287deg);
          transform: rotate(287deg);
  -webkit-animation: 100s move3 infinite linear alternate;
          animation: 100s move3 infinite linear alternate;
}

@-webkit-keyframes move3 {
  0% {
    top: 91vh;
    left: 32vw;
    -webkit-transform: rotate(346deg);
            transform: rotate(346deg);
  }
  100% {
    top: 41vh;
    left: 44vw;
    -webkit-transform: rotate(172deg);
            transform: rotate(172deg);
  }
}

@keyframes move3 {
  0% {
    top: 91vh;
    left: 32vw;
    -webkit-transform: rotate(346deg);
            transform: rotate(346deg);
  }
  100% {
    top: 41vh;
    left: 44vw;
    -webkit-transform: rotate(172deg);
            transform: rotate(172deg);
  }
}

span.triangle:nth-child(4) {
  width: 0;
  height: 0;
  border-top: 77px solid transparent;
  border-right: 140px solid #2A356D;
  border-bottom: 66px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 53vh;
  left: 68vw;
  -webkit-transform: rotate(203deg);
          transform: rotate(203deg);
  -webkit-animation: 100s move4 infinite linear alternate;
          animation: 100s move4 infinite linear alternate;
}

@-webkit-keyframes move4 {
  0% {
    top: 53vh;
    left: 68vw;
    -webkit-transform: rotate(186deg);
            transform: rotate(186deg);
  }
  100% {
    top: 23vh;
    left: 31vw;
    -webkit-transform: rotate(121deg);
            transform: rotate(121deg);
  }
}

@keyframes move4 {
  0% {
    top: 53vh;
    left: 68vw;
    -webkit-transform: rotate(186deg);
            transform: rotate(186deg);
  }
  100% {
    top: 23vh;
    left: 31vw;
    -webkit-transform: rotate(121deg);
            transform: rotate(121deg);
  }
}

span.triangle:nth-child(5) {
  width: 0;
  height: 0;
  border-top: 73px solid transparent;
  border-right: 182px solid #2A356D;
  border-bottom: 77px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 10vh;
  left: 71vw;
  -webkit-transform: rotate(196deg);
          transform: rotate(196deg);
  -webkit-animation: 100s move5 infinite linear alternate;
          animation: 100s move5 infinite linear alternate;
}

@-webkit-keyframes move5 {
  0% {
    top: 10vh;
    left: 71vw;
    -webkit-transform: rotate(317deg);
            transform: rotate(317deg);
  }
  100% {
    top: 82vh;
    left: 73vw;
    -webkit-transform: rotate(313deg);
            transform: rotate(313deg);
  }
}

@keyframes move5 {
  0% {
    top: 10vh;
    left: 71vw;
    -webkit-transform: rotate(317deg);
            transform: rotate(317deg);
  }
  100% {
    top: 82vh;
    left: 73vw;
    -webkit-transform: rotate(313deg);
            transform: rotate(313deg);
  }
}

span.triangle:nth-child(6) {
  width: 0;
  height: 0;
  border-top: 87px solid transparent;
  border-right: 197px solid #2A356D;
  border-bottom: 55px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 98vh;
  left: 6vw;
  -webkit-transform: rotate(166deg);
          transform: rotate(166deg);
  -webkit-animation: 100s move6 infinite linear alternate;
          animation: 100s move6 infinite linear alternate;
}

@-webkit-keyframes move6 {
  0% {
    top: 98vh;
    left: 6vw;
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    top: 66vh;
    left: 54vw;
    -webkit-transform: rotate(344deg);
            transform: rotate(344deg);
  }
}

@keyframes move6 {
  0% {
    top: 98vh;
    left: 6vw;
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    top: 66vh;
    left: 54vw;
    -webkit-transform: rotate(344deg);
            transform: rotate(344deg);
  }
}

span.triangle:nth-child(7) {
  width: 0;
  height: 0;
  border-top: 81px solid transparent;
  border-right: 168px solid #2A356D;
  border-bottom: 78px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 79vh;
  left: 93vw;
  -webkit-transform: rotate(352deg);
          transform: rotate(352deg);
  -webkit-animation: 100s move7 infinite linear alternate;
          animation: 100s move7 infinite linear alternate;
}

@-webkit-keyframes move7 {
  0% {
    top: 79vh;
    left: 93vw;
    -webkit-transform: rotate(194deg);
            transform: rotate(194deg);
  }
  100% {
    top: 87vh;
    left: 17vw;
    -webkit-transform: rotate(112deg);
            transform: rotate(112deg);
  }
}

@keyframes move7 {
  0% {
    top: 79vh;
    left: 93vw;
    -webkit-transform: rotate(194deg);
            transform: rotate(194deg);
  }
  100% {
    top: 87vh;
    left: 17vw;
    -webkit-transform: rotate(112deg);
            transform: rotate(112deg);
  }
}

span.triangle:nth-child(8) {
  width: 0;
  height: 0;
  border-top: 66px solid transparent;
  border-right: 166px solid #2A356D;
  border-bottom: 90px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 72vh;
  left: 49vw;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
  -webkit-animation: 100s move8 infinite linear alternate;
          animation: 100s move8 infinite linear alternate;
}

@-webkit-keyframes move8 {
  0% {
    top: 72vh;
    left: 49vw;
    -webkit-transform: rotate(145deg);
            transform: rotate(145deg);
  }
  100% {
    top: 99vh;
    left: 26vw;
    -webkit-transform: rotate(233deg);
            transform: rotate(233deg);
  }
}

@keyframes move8 {
  0% {
    top: 72vh;
    left: 49vw;
    -webkit-transform: rotate(145deg);
            transform: rotate(145deg);
  }
  100% {
    top: 99vh;
    left: 26vw;
    -webkit-transform: rotate(233deg);
            transform: rotate(233deg);
  }
}

span.triangle:nth-child(9) {
  width: 0;
  height: 0;
  border-top: 88px solid transparent;
  border-right: 104px solid #2A356D;
  border-bottom: 63px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 76vh;
  left: 27vw;
  -webkit-transform: rotate(265deg);
          transform: rotate(265deg);
  -webkit-animation: 100s move9 infinite linear alternate;
          animation: 100s move9 infinite linear alternate;
}

@-webkit-keyframes move9 {
  0% {
    top: 76vh;
    left: 27vw;
    -webkit-transform: rotate(344deg);
            transform: rotate(344deg);
  }
  100% {
    top: 58vh;
    left: 75vw;
    -webkit-transform: rotate(250deg);
            transform: rotate(250deg);
  }
}

@keyframes move9 {
  0% {
    top: 76vh;
    left: 27vw;
    -webkit-transform: rotate(344deg);
            transform: rotate(344deg);
  }
  100% {
    top: 58vh;
    left: 75vw;
    -webkit-transform: rotate(250deg);
            transform: rotate(250deg);
  }
}

span.triangle:nth-child(10) {
  width: 0;
  height: 0;
  border-top: 66px solid transparent;
  border-right: 153px solid #2A356D;
  border-bottom: 94px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 15vh;
  left: 87vw;
  -webkit-transform: rotate(141deg);
          transform: rotate(141deg);
  -webkit-animation: 100s move10 infinite linear alternate;
          animation: 100s move10 infinite linear alternate;
}

@-webkit-keyframes move10 {
  0% {
    top: 15vh;
    left: 87vw;
    -webkit-transform: rotate(236deg);
            transform: rotate(236deg);
  }
  100% {
    top: 78vh;
    left: 32vw;
    -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
  }
}

@keyframes move10 {
  0% {
    top: 15vh;
    left: 87vw;
    -webkit-transform: rotate(236deg);
            transform: rotate(236deg);
  }
  100% {
    top: 78vh;
    left: 32vw;
    -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
  }
}

span.triangle:nth-child(11) {
  width: 0;
  height: 0;
  border-top: 76px solid transparent;
  border-right: 139px solid #2A356D;
  border-bottom: 68px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 14vh;
  left: 59vw;
  -webkit-transform: rotate(107deg);
          transform: rotate(107deg);
  -webkit-animation: 100s move11 infinite linear alternate;
          animation: 100s move11 infinite linear alternate;
}

@-webkit-keyframes move11 {
  0% {
    top: 14vh;
    left: 59vw;
    -webkit-transform: rotate(19deg);
            transform: rotate(19deg);
  }
  100% {
    top: 96vh;
    left: 8vw;
    -webkit-transform: rotate(298deg);
            transform: rotate(298deg);
  }
}

@keyframes move11 {
  0% {
    top: 14vh;
    left: 59vw;
    -webkit-transform: rotate(19deg);
            transform: rotate(19deg);
  }
  100% {
    top: 96vh;
    left: 8vw;
    -webkit-transform: rotate(298deg);
            transform: rotate(298deg);
  }
}

span.triangle:nth-child(12) {
  width: 0;
  height: 0;
  border-top: 85px solid transparent;
  border-right: 186px solid #2A356D;
  border-bottom: 53px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 13vh;
  left: 13vw;
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
  -webkit-animation: 100s move12 infinite linear alternate;
          animation: 100s move12 infinite linear alternate;
}

@-webkit-keyframes move12 {
  0% {
    top: 13vh;
    left: 13vw;
    -webkit-transform: rotate(71deg);
            transform: rotate(71deg);
  }
  100% {
    top: 49vh;
    left: 19vw;
    -webkit-transform: rotate(159deg);
            transform: rotate(159deg);
  }
}

@keyframes move12 {
  0% {
    top: 13vh;
    left: 13vw;
    -webkit-transform: rotate(71deg);
            transform: rotate(71deg);
  }
  100% {
    top: 49vh;
    left: 19vw;
    -webkit-transform: rotate(159deg);
            transform: rotate(159deg);
  }
}

span.triangle:nth-child(13) {
  width: 0;
  height: 0;
  border-top: 59px solid transparent;
  border-right: 125px solid #2A356D;
  border-bottom: 76px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 4vh;
  left: 4vw;
  -webkit-transform: rotate(98deg);
          transform: rotate(98deg);
  -webkit-animation: 100s move13 infinite linear alternate;
          animation: 100s move13 infinite linear alternate;
}

@-webkit-keyframes move13 {
  0% {
    top: 4vh;
    left: 4vw;
    -webkit-transform: rotate(325deg);
            transform: rotate(325deg);
  }
  100% {
    top: 80vh;
    left: 53vw;
    -webkit-transform: rotate(332deg);
            transform: rotate(332deg);
  }
}

@keyframes move13 {
  0% {
    top: 4vh;
    left: 4vw;
    -webkit-transform: rotate(325deg);
            transform: rotate(325deg);
  }
  100% {
    top: 80vh;
    left: 53vw;
    -webkit-transform: rotate(332deg);
            transform: rotate(332deg);
  }
}

span.triangle:nth-child(14) {
  width: 0;
  height: 0;
  border-top: 98px solid transparent;
  border-right: 144px solid #2A356D;
  border-bottom: 93px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 33vh;
  left: 58vw;
  -webkit-transform: rotate(178deg);
          transform: rotate(178deg);
  -webkit-animation: 100s move14 infinite linear alternate;
          animation: 100s move14 infinite linear alternate;
}

@-webkit-keyframes move14 {
  0% {
    top: 33vh;
    left: 58vw;
    -webkit-transform: rotate(209deg);
            transform: rotate(209deg);
  }
  100% {
    top: 35vh;
    left: 47vw;
    -webkit-transform: rotate(289deg);
            transform: rotate(289deg);
  }
}

@keyframes move14 {
  0% {
    top: 33vh;
    left: 58vw;
    -webkit-transform: rotate(209deg);
            transform: rotate(209deg);
  }
  100% {
    top: 35vh;
    left: 47vw;
    -webkit-transform: rotate(289deg);
            transform: rotate(289deg);
  }
}

span.triangle:nth-child(15) {
  width: 0;
  height: 0;
  border-top: 95px solid transparent;
  border-right: 101px solid #2A356D;
  border-bottom: 93px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 11vh;
  left: 95vw;
  -webkit-transform: rotate(258deg);
          transform: rotate(258deg);
  -webkit-animation: 100s move15 infinite linear alternate;
          animation: 100s move15 infinite linear alternate;
}

@-webkit-keyframes move15 {
  0% {
    top: 11vh;
    left: 95vw;
    -webkit-transform: rotate(294deg);
            transform: rotate(294deg);
  }
  100% {
    top: 64vh;
    left: 97vw;
    -webkit-transform: rotate(208deg);
            transform: rotate(208deg);
  }
}

@keyframes move15 {
  0% {
    top: 11vh;
    left: 95vw;
    -webkit-transform: rotate(294deg);
            transform: rotate(294deg);
  }
  100% {
    top: 64vh;
    left: 97vw;
    -webkit-transform: rotate(208deg);
            transform: rotate(208deg);
  }
}

span.triangle:nth-child(16) {
  width: 0;
  height: 0;
  border-top: 67px solid transparent;
  border-right: 188px solid #2A356D;
  border-bottom: 66px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 24vh;
  left: 89vw;
  -webkit-transform: rotate(29deg);
          transform: rotate(29deg);
  -webkit-animation: 100s move16 infinite linear alternate;
          animation: 100s move16 infinite linear alternate;
}

@-webkit-keyframes move16 {
  0% {
    top: 24vh;
    left: 89vw;
    -webkit-transform: rotate(333deg);
            transform: rotate(333deg);
  }
  100% {
    top: 83vh;
    left: 74vw;
    -webkit-transform: rotate(223deg);
            transform: rotate(223deg);
  }
}

@keyframes move16 {
  0% {
    top: 24vh;
    left: 89vw;
    -webkit-transform: rotate(333deg);
            transform: rotate(333deg);
  }
  100% {
    top: 83vh;
    left: 74vw;
    -webkit-transform: rotate(223deg);
            transform: rotate(223deg);
  }
}

span.triangle:nth-child(17) {
  width: 0;
  height: 0;
  border-top: 71px solid transparent;
  border-right: 183px solid #2A356D;
  border-bottom: 83px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 48vh;
  left: 12vw;
  -webkit-transform: rotate(264deg);
          transform: rotate(264deg);
  -webkit-animation: 100s move17 infinite linear alternate;
          animation: 100s move17 infinite linear alternate;
}

@-webkit-keyframes move17 {
  0% {
    top: 48vh;
    left: 12vw;
    -webkit-transform: rotate(101deg);
            transform: rotate(101deg);
  }
  100% {
    top: 46vh;
    left: 35vw;
    -webkit-transform: rotate(302deg);
            transform: rotate(302deg);
  }
}

@keyframes move17 {
  0% {
    top: 48vh;
    left: 12vw;
    -webkit-transform: rotate(101deg);
            transform: rotate(101deg);
  }
  100% {
    top: 46vh;
    left: 35vw;
    -webkit-transform: rotate(302deg);
            transform: rotate(302deg);
  }
}

span.triangle:nth-child(18) {
  width: 0;
  height: 0;
  border-top: 72px solid transparent;
  border-right: 150px solid #2A356D;
  border-bottom: 82px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 59vh;
  left: 50vw;
  -webkit-transform: rotate(242deg);
          transform: rotate(242deg);
  -webkit-animation: 100s move18 infinite linear alternate;
          animation: 100s move18 infinite linear alternate;
}

@-webkit-keyframes move18 {
  0% {
    top: 59vh;
    left: 50vw;
    -webkit-transform: rotate(207deg);
            transform: rotate(207deg);
  }
  100% {
    top: 51vh;
    left: 22vw;
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }
}

@keyframes move18 {
  0% {
    top: 59vh;
    left: 50vw;
    -webkit-transform: rotate(207deg);
            transform: rotate(207deg);
  }
  100% {
    top: 51vh;
    left: 22vw;
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }
}

span.triangle:nth-child(19) {
  width: 0;
  height: 0;
  border-top: 58px solid transparent;
  border-right: 148px solid #2A356D;
  border-bottom: 94px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 35vh;
  left: 76vw;
  -webkit-transform: rotate(319deg);
          transform: rotate(319deg);
  -webkit-animation: 100s move19 infinite linear alternate;
          animation: 100s move19 infinite linear alternate;
}

@-webkit-keyframes move19 {
  0% {
    top: 35vh;
    left: 76vw;
    -webkit-transform: rotate(171deg);
            transform: rotate(171deg);
  }
  100% {
    top: 58vh;
    left: 36vw;
    -webkit-transform: rotate(68deg);
            transform: rotate(68deg);
  }
}

@keyframes move19 {
  0% {
    top: 35vh;
    left: 76vw;
    -webkit-transform: rotate(171deg);
            transform: rotate(171deg);
  }
  100% {
    top: 58vh;
    left: 36vw;
    -webkit-transform: rotate(68deg);
            transform: rotate(68deg);
  }
}

span.triangle:nth-child(20) {
  width: 0;
  height: 0;
  border-top: 53px solid transparent;
  border-right: 103px solid #2A356D;
  border-bottom: 72px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 45vh;
  left: 71vw;
  -webkit-transform: rotate(46deg);
          transform: rotate(46deg);
  -webkit-animation: 100s move20 infinite linear alternate;
          animation: 100s move20 infinite linear alternate;
}

@-webkit-keyframes move20 {
  0% {
    top: 45vh;
    left: 71vw;
    -webkit-transform: rotate(67deg);
            transform: rotate(67deg);
  }
  100% {
    top: 75vh;
    left: 20vw;
    -webkit-transform: rotate(76deg);
            transform: rotate(76deg);
  }
}

@keyframes move20 {
  0% {
    top: 45vh;
    left: 71vw;
    -webkit-transform: rotate(67deg);
            transform: rotate(67deg);
  }
  100% {
    top: 75vh;
    left: 20vw;
    -webkit-transform: rotate(76deg);
            transform: rotate(76deg);
  }
}

span.triangle:nth-child(21) {
  width: 0;
  height: 0;
  border-top: 98px solid transparent;
  border-right: 182px solid #2A356D;
  border-bottom: 68px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 35vh;
  left: 1vw;
  -webkit-transform: rotate(64deg);
          transform: rotate(64deg);
  -webkit-animation: 100s move21 infinite linear alternate;
          animation: 100s move21 infinite linear alternate;
}

@-webkit-keyframes move21 {
  0% {
    top: 35vh;
    left: 1vw;
    -webkit-transform: rotate(237deg);
            transform: rotate(237deg);
  }
  100% {
    top: 3vh;
    left: 25vw;
    -webkit-transform: rotate(294deg);
            transform: rotate(294deg);
  }
}

@keyframes move21 {
  0% {
    top: 35vh;
    left: 1vw;
    -webkit-transform: rotate(237deg);
            transform: rotate(237deg);
  }
  100% {
    top: 3vh;
    left: 25vw;
    -webkit-transform: rotate(294deg);
            transform: rotate(294deg);
  }
}

span.triangle:nth-child(22) {
  width: 0;
  height: 0;
  border-top: 58px solid transparent;
  border-right: 116px solid #2A356D;
  border-bottom: 74px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 14vh;
  left: 25vw;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-animation: 100s move22 infinite linear alternate;
          animation: 100s move22 infinite linear alternate;
}

@-webkit-keyframes move22 {
  0% {
    top: 14vh;
    left: 25vw;
    -webkit-transform: rotate(262deg);
            transform: rotate(262deg);
  }
  100% {
    top: 42vh;
    left: 55vw;
    -webkit-transform: rotate(325deg);
            transform: rotate(325deg);
  }
}

@keyframes move22 {
  0% {
    top: 14vh;
    left: 25vw;
    -webkit-transform: rotate(262deg);
            transform: rotate(262deg);
  }
  100% {
    top: 42vh;
    left: 55vw;
    -webkit-transform: rotate(325deg);
            transform: rotate(325deg);
  }
}

span.triangle:nth-child(23) {
  width: 0;
  height: 0;
  border-top: 90px solid transparent;
  border-right: 123px solid #2A356D;
  border-bottom: 77px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 99vh;
  left: 42vw;
  -webkit-transform: rotate(94deg);
          transform: rotate(94deg);
  -webkit-animation: 100s move23 infinite linear alternate;
          animation: 100s move23 infinite linear alternate;
}

@-webkit-keyframes move23 {
  0% {
    top: 99vh;
    left: 42vw;
    -webkit-transform: rotate(24deg);
            transform: rotate(24deg);
  }
  100% {
    top: 71vh;
    left: 17vw;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}

@keyframes move23 {
  0% {
    top: 99vh;
    left: 42vw;
    -webkit-transform: rotate(24deg);
            transform: rotate(24deg);
  }
  100% {
    top: 71vh;
    left: 17vw;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}

span.triangle:nth-child(24) {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-right: 187px solid #2A356D;
  border-bottom: 86px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 19vh;
  left: 77vw;
  -webkit-transform: rotate(61deg);
          transform: rotate(61deg);
  -webkit-animation: 100s move24 infinite linear alternate;
          animation: 100s move24 infinite linear alternate;
}

@-webkit-keyframes move24 {
  0% {
    top: 19vh;
    left: 77vw;
    -webkit-transform: rotate(349deg);
            transform: rotate(349deg);
  }
  100% {
    top: 35vh;
    left: 36vw;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

@keyframes move24 {
  0% {
    top: 19vh;
    left: 77vw;
    -webkit-transform: rotate(349deg);
            transform: rotate(349deg);
  }
  100% {
    top: 35vh;
    left: 36vw;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

span.triangle:nth-child(25) {
  width: 0;
  height: 0;
  border-top: 94px solid transparent;
  border-right: 163px solid #2A356D;
  border-bottom: 70px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 15vh;
  left: 52vw;
  -webkit-transform: rotate(325deg);
          transform: rotate(325deg);
  -webkit-animation: 100s move25 infinite linear alternate;
          animation: 100s move25 infinite linear alternate;
}

@-webkit-keyframes move25 {
  0% {
    top: 15vh;
    left: 52vw;
    -webkit-transform: rotate(242deg);
            transform: rotate(242deg);
  }
  100% {
    top: 39vh;
    left: 64vw;
    -webkit-transform: rotate(147deg);
            transform: rotate(147deg);
  }
}

@keyframes move25 {
  0% {
    top: 15vh;
    left: 52vw;
    -webkit-transform: rotate(242deg);
            transform: rotate(242deg);
  }
  100% {
    top: 39vh;
    left: 64vw;
    -webkit-transform: rotate(147deg);
            transform: rotate(147deg);
  }
}
/*# sourceMappingURL=main.css.map */