body {
  overflow: hidden;
}

.fondo {
  background-color: #221A4D;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.arriba {
  z-index: 9999;
}

.logo593 {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

span.triangle:nth-child(0) {
  width: 0;
  height: 0;
  border-top: 66px solid transparent;
  border-right: 113px solid #2A356D;
  border-bottom: 52px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 17vh;
  left: 90vw;
  -webkit-transform: rotate(173deg);
          transform: rotate(173deg);
  -webkit-animation: 100s move0 infinite linear alternate;
          animation: 100s move0 infinite linear alternate;
}

@-webkit-keyframes move0 {
  0% {
    top: 17vh;
    left: 90vw;
    -webkit-transform: rotate(219deg);
            transform: rotate(219deg);
  }
  100% {
    top: 49vh;
    left: 31vw;
    -webkit-transform: rotate(298deg);
            transform: rotate(298deg);
  }
}

@keyframes move0 {
  0% {
    top: 17vh;
    left: 90vw;
    -webkit-transform: rotate(219deg);
            transform: rotate(219deg);
  }
  100% {
    top: 49vh;
    left: 31vw;
    -webkit-transform: rotate(298deg);
            transform: rotate(298deg);
  }
}

span.triangle:nth-child(1) {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-right: 150px solid #2A356D;
  border-bottom: 96px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 39vh;
  left: 28vw;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-animation: 100s move1 infinite linear alternate;
          animation: 100s move1 infinite linear alternate;
}

@-webkit-keyframes move1 {
  0% {
    top: 39vh;
    left: 28vw;
    -webkit-transform: rotate(320deg);
            transform: rotate(320deg);
  }
  100% {
    top: 80vh;
    left: 7vw;
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
}

@keyframes move1 {
  0% {
    top: 39vh;
    left: 28vw;
    -webkit-transform: rotate(320deg);
            transform: rotate(320deg);
  }
  100% {
    top: 80vh;
    left: 7vw;
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
}

span.triangle:nth-child(2) {
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  border-right: 152px solid #2A356D;
  border-bottom: 98px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 34vh;
  left: 61vw;
  -webkit-transform: rotate(188deg);
          transform: rotate(188deg);
  -webkit-animation: 100s move2 infinite linear alternate;
          animation: 100s move2 infinite linear alternate;
}

@-webkit-keyframes move2 {
  0% {
    top: 34vh;
    left: 61vw;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    top: 33vh;
    left: 91vw;
    -webkit-transform: rotate(111deg);
            transform: rotate(111deg);
  }
}

@keyframes move2 {
  0% {
    top: 34vh;
    left: 61vw;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    top: 33vh;
    left: 91vw;
    -webkit-transform: rotate(111deg);
            transform: rotate(111deg);
  }
}

span.triangle:nth-child(3) {
  width: 0;
  height: 0;
  border-top: 92px solid transparent;
  border-right: 111px solid #2A356D;
  border-bottom: 91px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 31vh;
  left: 99vw;
  -webkit-transform: rotate(260deg);
          transform: rotate(260deg);
  -webkit-animation: 100s move3 infinite linear alternate;
          animation: 100s move3 infinite linear alternate;
}

@-webkit-keyframes move3 {
  0% {
    top: 31vh;
    left: 99vw;
    -webkit-transform: rotate(172deg);
            transform: rotate(172deg);
  }
  100% {
    top: 28vh;
    left: 28vw;
    -webkit-transform: rotate(64deg);
            transform: rotate(64deg);
  }
}

@keyframes move3 {
  0% {
    top: 31vh;
    left: 99vw;
    -webkit-transform: rotate(172deg);
            transform: rotate(172deg);
  }
  100% {
    top: 28vh;
    left: 28vw;
    -webkit-transform: rotate(64deg);
            transform: rotate(64deg);
  }
}

span.triangle:nth-child(4) {
  width: 0;
  height: 0;
  border-top: 78px solid transparent;
  border-right: 147px solid #2A356D;
  border-bottom: 56px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 28vh;
  left: 76vw;
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
  -webkit-animation: 100s move4 infinite linear alternate;
          animation: 100s move4 infinite linear alternate;
}

@-webkit-keyframes move4 {
  0% {
    top: 28vh;
    left: 76vw;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  100% {
    top: 21vh;
    left: 23vw;
    -webkit-transform: rotate(281deg);
            transform: rotate(281deg);
  }
}

@keyframes move4 {
  0% {
    top: 28vh;
    left: 76vw;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  100% {
    top: 21vh;
    left: 23vw;
    -webkit-transform: rotate(281deg);
            transform: rotate(281deg);
  }
}

span.triangle:nth-child(5) {
  width: 0;
  height: 0;
  border-top: 71px solid transparent;
  border-right: 181px solid #2A356D;
  border-bottom: 71px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 61vh;
  left: 5vw;
  -webkit-transform: rotate(153deg);
          transform: rotate(153deg);
  -webkit-animation: 100s move5 infinite linear alternate;
          animation: 100s move5 infinite linear alternate;
}

@-webkit-keyframes move5 {
  0% {
    top: 61vh;
    left: 5vw;
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  100% {
    top: 21vh;
    left: 78vw;
    -webkit-transform: rotate(352deg);
            transform: rotate(352deg);
  }
}

@keyframes move5 {
  0% {
    top: 61vh;
    left: 5vw;
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  100% {
    top: 21vh;
    left: 78vw;
    -webkit-transform: rotate(352deg);
            transform: rotate(352deg);
  }
}

span.triangle:nth-child(6) {
  width: 0;
  height: 0;
  border-top: 98px solid transparent;
  border-right: 136px solid #2A356D;
  border-bottom: 86px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 67vh;
  left: 29vw;
  -webkit-transform: rotate(138deg);
          transform: rotate(138deg);
  -webkit-animation: 100s move6 infinite linear alternate;
          animation: 100s move6 infinite linear alternate;
}

@-webkit-keyframes move6 {
  0% {
    top: 67vh;
    left: 29vw;
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  100% {
    top: 17vh;
    left: 67vw;
    -webkit-transform: rotate(293deg);
            transform: rotate(293deg);
  }
}

@keyframes move6 {
  0% {
    top: 67vh;
    left: 29vw;
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  100% {
    top: 17vh;
    left: 67vw;
    -webkit-transform: rotate(293deg);
            transform: rotate(293deg);
  }
}

span.triangle:nth-child(7) {
  width: 0;
  height: 0;
  border-top: 77px solid transparent;
  border-right: 153px solid #2A356D;
  border-bottom: 67px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 100vh;
  left: 29vw;
  -webkit-transform: rotate(279deg);
          transform: rotate(279deg);
  -webkit-animation: 100s move7 infinite linear alternate;
          animation: 100s move7 infinite linear alternate;
}

@-webkit-keyframes move7 {
  0% {
    top: 100vh;
    left: 29vw;
    -webkit-transform: rotate(318deg);
            transform: rotate(318deg);
  }
  100% {
    top: 63vh;
    left: 31vw;
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

@keyframes move7 {
  0% {
    top: 100vh;
    left: 29vw;
    -webkit-transform: rotate(318deg);
            transform: rotate(318deg);
  }
  100% {
    top: 63vh;
    left: 31vw;
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

span.triangle:nth-child(8) {
  width: 0;
  height: 0;
  border-top: 59px solid transparent;
  border-right: 195px solid #2A356D;
  border-bottom: 83px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 60vh;
  left: 28vw;
  -webkit-transform: rotate(337deg);
          transform: rotate(337deg);
  -webkit-animation: 100s move8 infinite linear alternate;
          animation: 100s move8 infinite linear alternate;
}

@-webkit-keyframes move8 {
  0% {
    top: 60vh;
    left: 28vw;
    -webkit-transform: rotate(77deg);
            transform: rotate(77deg);
  }
  100% {
    top: 90vh;
    left: 75vw;
    -webkit-transform: rotate(242deg);
            transform: rotate(242deg);
  }
}

@keyframes move8 {
  0% {
    top: 60vh;
    left: 28vw;
    -webkit-transform: rotate(77deg);
            transform: rotate(77deg);
  }
  100% {
    top: 90vh;
    left: 75vw;
    -webkit-transform: rotate(242deg);
            transform: rotate(242deg);
  }
}

span.triangle:nth-child(9) {
  width: 0;
  height: 0;
  border-top: 93px solid transparent;
  border-right: 177px solid #2A356D;
  border-bottom: 95px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 94vh;
  left: 46vw;
  -webkit-transform: rotate(208deg);
          transform: rotate(208deg);
  -webkit-animation: 100s move9 infinite linear alternate;
          animation: 100s move9 infinite linear alternate;
}

@-webkit-keyframes move9 {
  0% {
    top: 94vh;
    left: 46vw;
    -webkit-transform: rotate(245deg);
            transform: rotate(245deg);
  }
  100% {
    top: 13vh;
    left: 77vw;
    -webkit-transform: rotate(82deg);
            transform: rotate(82deg);
  }
}

@keyframes move9 {
  0% {
    top: 94vh;
    left: 46vw;
    -webkit-transform: rotate(245deg);
            transform: rotate(245deg);
  }
  100% {
    top: 13vh;
    left: 77vw;
    -webkit-transform: rotate(82deg);
            transform: rotate(82deg);
  }
}

span.triangle:nth-child(10) {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 160px solid #2A356D;
  border-bottom: 94px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 37vh;
  left: 83vw;
  -webkit-transform: rotate(323deg);
          transform: rotate(323deg);
  -webkit-animation: 100s move10 infinite linear alternate;
          animation: 100s move10 infinite linear alternate;
}

@-webkit-keyframes move10 {
  0% {
    top: 37vh;
    left: 83vw;
    -webkit-transform: rotate(224deg);
            transform: rotate(224deg);
  }
  100% {
    top: 68vh;
    left: 36vw;
    -webkit-transform: rotate(276deg);
            transform: rotate(276deg);
  }
}

@keyframes move10 {
  0% {
    top: 37vh;
    left: 83vw;
    -webkit-transform: rotate(224deg);
            transform: rotate(224deg);
  }
  100% {
    top: 68vh;
    left: 36vw;
    -webkit-transform: rotate(276deg);
            transform: rotate(276deg);
  }
}

span.triangle:nth-child(11) {
  width: 0;
  height: 0;
  border-top: 90px solid transparent;
  border-right: 107px solid #2A356D;
  border-bottom: 54px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 25vh;
  left: 38vw;
  -webkit-transform: rotate(322deg);
          transform: rotate(322deg);
  -webkit-animation: 100s move11 infinite linear alternate;
          animation: 100s move11 infinite linear alternate;
}

@-webkit-keyframes move11 {
  0% {
    top: 25vh;
    left: 38vw;
    -webkit-transform: rotate(107deg);
            transform: rotate(107deg);
  }
  100% {
    top: 40vh;
    left: 26vw;
    -webkit-transform: rotate(324deg);
            transform: rotate(324deg);
  }
}

@keyframes move11 {
  0% {
    top: 25vh;
    left: 38vw;
    -webkit-transform: rotate(107deg);
            transform: rotate(107deg);
  }
  100% {
    top: 40vh;
    left: 26vw;
    -webkit-transform: rotate(324deg);
            transform: rotate(324deg);
  }
}

span.triangle:nth-child(12) {
  width: 0;
  height: 0;
  border-top: 57px solid transparent;
  border-right: 130px solid #2A356D;
  border-bottom: 95px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 53vh;
  left: 3vw;
  -webkit-transform: rotate(235deg);
          transform: rotate(235deg);
  -webkit-animation: 100s move12 infinite linear alternate;
          animation: 100s move12 infinite linear alternate;
}

@-webkit-keyframes move12 {
  0% {
    top: 53vh;
    left: 3vw;
    -webkit-transform: rotate(294deg);
            transform: rotate(294deg);
  }
  100% {
    top: 88vh;
    left: 29vw;
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
  }
}

@keyframes move12 {
  0% {
    top: 53vh;
    left: 3vw;
    -webkit-transform: rotate(294deg);
            transform: rotate(294deg);
  }
  100% {
    top: 88vh;
    left: 29vw;
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
  }
}

span.triangle:nth-child(13) {
  width: 0;
  height: 0;
  border-top: 51px solid transparent;
  border-right: 129px solid #2A356D;
  border-bottom: 97px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 6vh;
  left: 1vw;
  -webkit-transform: rotate(37deg);
          transform: rotate(37deg);
  -webkit-animation: 100s move13 infinite linear alternate;
          animation: 100s move13 infinite linear alternate;
}

@-webkit-keyframes move13 {
  0% {
    top: 6vh;
    left: 1vw;
    -webkit-transform: rotate(282deg);
            transform: rotate(282deg);
  }
  100% {
    top: 27vh;
    left: 39vw;
    -webkit-transform: rotate(201deg);
            transform: rotate(201deg);
  }
}

@keyframes move13 {
  0% {
    top: 6vh;
    left: 1vw;
    -webkit-transform: rotate(282deg);
            transform: rotate(282deg);
  }
  100% {
    top: 27vh;
    left: 39vw;
    -webkit-transform: rotate(201deg);
            transform: rotate(201deg);
  }
}

span.triangle:nth-child(14) {
  width: 0;
  height: 0;
  border-top: 93px solid transparent;
  border-right: 163px solid #2A356D;
  border-bottom: 69px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 95vh;
  left: 40vw;
  -webkit-transform: rotate(332deg);
          transform: rotate(332deg);
  -webkit-animation: 100s move14 infinite linear alternate;
          animation: 100s move14 infinite linear alternate;
}

@-webkit-keyframes move14 {
  0% {
    top: 95vh;
    left: 40vw;
    -webkit-transform: rotate(139deg);
            transform: rotate(139deg);
  }
  100% {
    top: 3vh;
    left: 28vw;
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }
}

@keyframes move14 {
  0% {
    top: 95vh;
    left: 40vw;
    -webkit-transform: rotate(139deg);
            transform: rotate(139deg);
  }
  100% {
    top: 3vh;
    left: 28vw;
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }
}

span.triangle:nth-child(15) {
  width: 0;
  height: 0;
  border-top: 87px solid transparent;
  border-right: 172px solid #2A356D;
  border-bottom: 83px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 77vh;
  left: 49vw;
  -webkit-transform: rotate(95deg);
          transform: rotate(95deg);
  -webkit-animation: 100s move15 infinite linear alternate;
          animation: 100s move15 infinite linear alternate;
}

@-webkit-keyframes move15 {
  0% {
    top: 77vh;
    left: 49vw;
    -webkit-transform: rotate(87deg);
            transform: rotate(87deg);
  }
  100% {
    top: 46vh;
    left: 89vw;
    -webkit-transform: rotate(273deg);
            transform: rotate(273deg);
  }
}

@keyframes move15 {
  0% {
    top: 77vh;
    left: 49vw;
    -webkit-transform: rotate(87deg);
            transform: rotate(87deg);
  }
  100% {
    top: 46vh;
    left: 89vw;
    -webkit-transform: rotate(273deg);
            transform: rotate(273deg);
  }
}

span.triangle:nth-child(16) {
  width: 0;
  height: 0;
  border-top: 71px solid transparent;
  border-right: 111px solid #2A356D;
  border-bottom: 65px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 57vh;
  left: 89vw;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-animation: 100s move16 infinite linear alternate;
          animation: 100s move16 infinite linear alternate;
}

@-webkit-keyframes move16 {
  0% {
    top: 57vh;
    left: 89vw;
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
  }
  100% {
    top: 87vh;
    left: 75vw;
    -webkit-transform: rotate(97deg);
            transform: rotate(97deg);
  }
}

@keyframes move16 {
  0% {
    top: 57vh;
    left: 89vw;
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
  }
  100% {
    top: 87vh;
    left: 75vw;
    -webkit-transform: rotate(97deg);
            transform: rotate(97deg);
  }
}

span.triangle:nth-child(17) {
  width: 0;
  height: 0;
  border-top: 86px solid transparent;
  border-right: 150px solid #2A356D;
  border-bottom: 79px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 18vh;
  left: 51vw;
  -webkit-transform: rotate(321deg);
          transform: rotate(321deg);
  -webkit-animation: 100s move17 infinite linear alternate;
          animation: 100s move17 infinite linear alternate;
}

@-webkit-keyframes move17 {
  0% {
    top: 18vh;
    left: 51vw;
    -webkit-transform: rotate(328deg);
            transform: rotate(328deg);
  }
  100% {
    top: 33vh;
    left: 10vw;
    -webkit-transform: rotate(141deg);
            transform: rotate(141deg);
  }
}

@keyframes move17 {
  0% {
    top: 18vh;
    left: 51vw;
    -webkit-transform: rotate(328deg);
            transform: rotate(328deg);
  }
  100% {
    top: 33vh;
    left: 10vw;
    -webkit-transform: rotate(141deg);
            transform: rotate(141deg);
  }
}

span.triangle:nth-child(18) {
  width: 0;
  height: 0;
  border-top: 66px solid transparent;
  border-right: 175px solid #2A356D;
  border-bottom: 83px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 32vh;
  left: 91vw;
  -webkit-transform: rotate(235deg);
          transform: rotate(235deg);
  -webkit-animation: 100s move18 infinite linear alternate;
          animation: 100s move18 infinite linear alternate;
}

@-webkit-keyframes move18 {
  0% {
    top: 32vh;
    left: 91vw;
    -webkit-transform: rotate(71deg);
            transform: rotate(71deg);
  }
  100% {
    top: 72vh;
    left: 96vw;
    -webkit-transform: rotate(303deg);
            transform: rotate(303deg);
  }
}

@keyframes move18 {
  0% {
    top: 32vh;
    left: 91vw;
    -webkit-transform: rotate(71deg);
            transform: rotate(71deg);
  }
  100% {
    top: 72vh;
    left: 96vw;
    -webkit-transform: rotate(303deg);
            transform: rotate(303deg);
  }
}

span.triangle:nth-child(19) {
  width: 0;
  height: 0;
  border-top: 80px solid transparent;
  border-right: 193px solid #2A356D;
  border-bottom: 95px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 25vh;
  left: 20vw;
  -webkit-transform: rotate(170deg);
          transform: rotate(170deg);
  -webkit-animation: 100s move19 infinite linear alternate;
          animation: 100s move19 infinite linear alternate;
}

@-webkit-keyframes move19 {
  0% {
    top: 25vh;
    left: 20vw;
    -webkit-transform: rotate(99deg);
            transform: rotate(99deg);
  }
  100% {
    top: 90vh;
    left: 65vw;
    -webkit-transform: rotate(151deg);
            transform: rotate(151deg);
  }
}

@keyframes move19 {
  0% {
    top: 25vh;
    left: 20vw;
    -webkit-transform: rotate(99deg);
            transform: rotate(99deg);
  }
  100% {
    top: 90vh;
    left: 65vw;
    -webkit-transform: rotate(151deg);
            transform: rotate(151deg);
  }
}

span.triangle:nth-child(20) {
  width: 0;
  height: 0;
  border-top: 68px solid transparent;
  border-right: 185px solid #2A356D;
  border-bottom: 96px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 23vh;
  left: 28vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: 100s move20 infinite linear alternate;
          animation: 100s move20 infinite linear alternate;
}

@-webkit-keyframes move20 {
  0% {
    top: 23vh;
    left: 28vw;
    -webkit-transform: rotate(305deg);
            transform: rotate(305deg);
  }
  100% {
    top: 35vh;
    left: 50vw;
    -webkit-transform: rotate(286deg);
            transform: rotate(286deg);
  }
}

@keyframes move20 {
  0% {
    top: 23vh;
    left: 28vw;
    -webkit-transform: rotate(305deg);
            transform: rotate(305deg);
  }
  100% {
    top: 35vh;
    left: 50vw;
    -webkit-transform: rotate(286deg);
            transform: rotate(286deg);
  }
}

span.triangle:nth-child(21) {
  width: 0;
  height: 0;
  border-top: 76px solid transparent;
  border-right: 124px solid #2A356D;
  border-bottom: 56px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 21vh;
  left: 2vw;
  -webkit-transform: rotate(265deg);
          transform: rotate(265deg);
  -webkit-animation: 100s move21 infinite linear alternate;
          animation: 100s move21 infinite linear alternate;
}

@-webkit-keyframes move21 {
  0% {
    top: 21vh;
    left: 2vw;
    -webkit-transform: rotate(321deg);
            transform: rotate(321deg);
  }
  100% {
    top: 76vh;
    left: 49vw;
    -webkit-transform: rotate(139deg);
            transform: rotate(139deg);
  }
}

@keyframes move21 {
  0% {
    top: 21vh;
    left: 2vw;
    -webkit-transform: rotate(321deg);
            transform: rotate(321deg);
  }
  100% {
    top: 76vh;
    left: 49vw;
    -webkit-transform: rotate(139deg);
            transform: rotate(139deg);
  }
}

span.triangle:nth-child(22) {
  width: 0;
  height: 0;
  border-top: 56px solid transparent;
  border-right: 162px solid #2A356D;
  border-bottom: 97px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 95vh;
  left: 51vw;
  -webkit-transform: rotate(344deg);
          transform: rotate(344deg);
  -webkit-animation: 100s move22 infinite linear alternate;
          animation: 100s move22 infinite linear alternate;
}

@-webkit-keyframes move22 {
  0% {
    top: 95vh;
    left: 51vw;
    -webkit-transform: rotate(113deg);
            transform: rotate(113deg);
  }
  100% {
    top: 37vh;
    left: 34vw;
    -webkit-transform: rotate(82deg);
            transform: rotate(82deg);
  }
}

@keyframes move22 {
  0% {
    top: 95vh;
    left: 51vw;
    -webkit-transform: rotate(113deg);
            transform: rotate(113deg);
  }
  100% {
    top: 37vh;
    left: 34vw;
    -webkit-transform: rotate(82deg);
            transform: rotate(82deg);
  }
}

span.triangle:nth-child(23) {
  width: 0;
  height: 0;
  border-top: 55px solid transparent;
  border-right: 172px solid #2A356D;
  border-bottom: 68px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 48vh;
  left: 7vw;
  -webkit-transform: rotate(253deg);
          transform: rotate(253deg);
  -webkit-animation: 100s move23 infinite linear alternate;
          animation: 100s move23 infinite linear alternate;
}

@-webkit-keyframes move23 {
  0% {
    top: 48vh;
    left: 7vw;
    -webkit-transform: rotate(121deg);
            transform: rotate(121deg);
  }
  100% {
    top: 15vh;
    left: 65vw;
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
  }
}

@keyframes move23 {
  0% {
    top: 48vh;
    left: 7vw;
    -webkit-transform: rotate(121deg);
            transform: rotate(121deg);
  }
  100% {
    top: 15vh;
    left: 65vw;
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
  }
}

span.triangle:nth-child(24) {
  width: 0;
  height: 0;
  border-top: 62px solid transparent;
  border-right: 165px solid #2A356D;
  border-bottom: 78px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 15vh;
  left: 56vw;
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
  -webkit-animation: 100s move24 infinite linear alternate;
          animation: 100s move24 infinite linear alternate;
}

@-webkit-keyframes move24 {
  0% {
    top: 15vh;
    left: 56vw;
    -webkit-transform: rotate(194deg);
            transform: rotate(194deg);
  }
  100% {
    top: 87vh;
    left: 92vw;
    -webkit-transform: rotate(331deg);
            transform: rotate(331deg);
  }
}

@keyframes move24 {
  0% {
    top: 15vh;
    left: 56vw;
    -webkit-transform: rotate(194deg);
            transform: rotate(194deg);
  }
  100% {
    top: 87vh;
    left: 92vw;
    -webkit-transform: rotate(331deg);
            transform: rotate(331deg);
  }
}

span.triangle:nth-child(25) {
  width: 0;
  height: 0;
  border-top: 82px solid transparent;
  border-right: 196px solid #2A356D;
  border-bottom: 95px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 30vh;
  left: 82vw;
  -webkit-transform: rotate(198deg);
          transform: rotate(198deg);
  -webkit-animation: 100s move25 infinite linear alternate;
          animation: 100s move25 infinite linear alternate;
}

@-webkit-keyframes move25 {
  0% {
    top: 30vh;
    left: 82vw;
    -webkit-transform: rotate(329deg);
            transform: rotate(329deg);
  }
  100% {
    top: 94vh;
    left: 71vw;
    -webkit-transform: rotate(233deg);
            transform: rotate(233deg);
  }
}

@keyframes move25 {
  0% {
    top: 30vh;
    left: 82vw;
    -webkit-transform: rotate(329deg);
            transform: rotate(329deg);
  }
  100% {
    top: 94vh;
    left: 71vw;
    -webkit-transform: rotate(233deg);
            transform: rotate(233deg);
  }
}
/*# sourceMappingURL=main.css.map */