$darkblue : #221A4D;
$tricolor: #2A356D;
body{
    overflow: hidden;
}
.fondo{
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.arriba{
    z-index: 9999;
}
.logo593{
    transform: scale(1.5)
}

