$tricolor: #2a356d;
$morado: #2b2d42;

$white-light-blue: #8ecae6;
$light-blue: #219ebc;
$darkblue: #023047;
$yellow: #ffb703;
$orange: #fb8500;

body {
    height: 100vh;
    width: 100%;
}

.contenedor {
    background-color: $darkblue;
    width: 100vw;
    padding: 50px;
    height: 100%;
}

.contendor-small {
    background-color: #ffb703;
}

.arriba {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
