@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Roboto&family=Bebas+Neue&family=Fugaz+One&display=swap");
$orange: #e12139;
$morado: #2b2d42;

$white-light-blue: #8ecae6;
$light-blue: #219ebc;
$darkblue: #023047;
$yellow: #ffb703;
$orange: #fb8500;

body {
    overflow: hidden;
}

p {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    margin: 0;
    height: 35px;
}

.trapecio-nombre {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 200px;
    height: 40px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 40px solid $darkblue;
    transform: translate(-50%);
}
.trapecio-nombre-borde {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 220px;
    height: 40px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 40px solid $orange;
    transform: translate(-50%);
    z-index: -1;
}

.span-texto {
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -100%);
    color: white;
    font-family: "Bebas Neue";
    font-size: 25px;
    width: 200px;
}
.bandera-izq {
    width: 80px;
    height: 40px;
    z-index: 999;
    align-items: center;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
.bandera-der {
    width: 80px;
    height: 40px;
    z-index: 999;
    align-items: center;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
.p-der {
    justify-content: right !important;
    padding-right: 50px;
    margin: 0;
    height: 100%;
    font-size: 30px;
}
.p-izq {
    justify-content: left !important;
    padding-left: 50px;
    margin: 0;
    height: 100%;
    font-size: 30px;
}

.rectangle-hide {
    position: absolute;
    top: 0%;
    height: 100%;
    z-index: 9999;
    width: 50%;
    display: block;
}

.rectangle-hide-left {
    background-color: $darkblue;
    left: 0%;
}
.rectangle-hide-right {
    background-color: $orange;
    right: 0%;
}

.hidding-square {
    background-color: $darkblue;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    z-index: 9999;
    animation: openpoints 3s ease forwards reverse;
}
.hidding-square-right {
    background-color: $orange;
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    z-index: 9999;
    animation: openpoints 3s ease forwards reverse;
    width: 50%;
}
@keyframes openpoints {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separation {
    margin-right: 350px;
}

.paralelogramo {
    background-color: $orange;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nombre-izq {
    background: $darkblue;
    height: 40px;
    width: 30%;
    margin: 0;
    box-shadow: 0px 0px 0px 5px $orange;
    position: absolute;
    border-radius: 7px;
    left: 8%;
}
.nombre-der {
    background: $darkblue;
    border-radius: 7px;
    height: 40px;
    width: 30%;
    margin: 0;
    box-shadow: 0px 0px 0px 5px $orange;
    position: absolute;
    right: 8%;
}

.izquierdo {
    transform: skew(0deg);
}
.derecho {
    transform: skew(0deg);
}

.noskew {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Fugaz One", cursive;
    font-size: 35px;
    margin: 0;
}
.noskewleft {
    transform: skew(0deg);
}
.noskewright {
    transform: skew(0deg);
}
.nombre {
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
    font-size: 30px;
    justify-content: space-between;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes unflip {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.flip {
    animation: flip 0.5s ease forwards;
}
.no-flip {
    animation: unflip 0.5s ease forwards;
}

.neon-dark {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}
