@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Roboto&family=Bebas+Neue&family=Fugaz+One&display=swap");
p {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  margin: 0;
  height: 35px;
}

.trapecio-nombre {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 200px;
  height: 40px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 40px solid #2b2d42;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.trapecio-nombre-borde {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 220px;
  height: 40px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 40px solid #e12139;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: -1;
}

.span-texto {
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 9999;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  color: white;
  font-family: "Bebas Neue";
  font-size: 25px;
  width: 200px;
}

.bandera-izq {
  width: auto;
  height: 40px;
  z-index: 999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.bandera-der {
  width: auto;
  height: 40px;
  z-index: 999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.p-der {
  -webkit-box-pack: right !important;
      -ms-flex-pack: right !important;
          justify-content: right !important;
  padding-right: 50px;
  margin: 0;
  height: 100%;
  font-size: 30px;
}

.p-izq {
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
  padding-left: 50px;
  margin: 0;
  height: 100%;
  font-size: 30px;
}

.rectangle-hide {
  position: absolute;
  top: 0%;
  height: 100%;
  z-index: 9999;
  width: 50%;
  display: block;
}

.rectangle-hide-left {
  background-color: #2b2d42;
  left: 0%;
}

.rectangle-hide-right {
  background-color: #e12139;
  right: 0%;
}

.hidding-square {
  background-color: #2b2d42;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  z-index: 9999;
  animation: openpoints 3s ease forwards reverse;
}

.hidding-square-right {
  background-color: #e12139;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: 9999;
  animation: openpoints 3s ease forwards reverse;
  width: 50%;
}

@-webkit-keyframes openpoints {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes openpoints {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.separation {
  margin-right: 350px;
}

.paralelogramo {
  background-color: #e12139;
  width: 60px;
  height: 50px;
  border-radius: 5px;
}

.nombre-izq {
  background: #2b2d42;
  height: 40px;
  width: 30%;
  margin: 0;
  position: absolute;
  border-radius: 7px;
  left: 8%;
}

.nombre-der {
  background: #2b2d42;
  border-radius: 7px;
  height: 40px;
  width: 30%;
  margin: 0;
  position: absolute;
  right: 8%;
}

.izquierdo {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.derecho {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.noskew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: "Fugaz One", cursive;
  font-size: 35px;
  margin: 0;
}

.noskewleft {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.noskewright {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.nombre {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: left;
  letter-spacing: 1px;
  font-size: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@-webkit-keyframes unflip {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes unflip {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

.flip {
  -webkit-animation: flip 0.5s ease forwards;
          animation: flip 0.5s ease forwards;
}

.no-flip {
  -webkit-animation: unflip 0.5s ease forwards;
          animation: unflip 0.5s ease forwards;
}

.neon-dark {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}
/*# sourceMappingURL=marcador.css.map */