@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Roboto&family=Fugaz+One&display=swap");
p {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  margin: 0;
  height: 35px;
}

.hidding-square {
  background-color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  z-index: 9999;
  animation: openpoints 3s ease forwards reverse;
  border-radius: 10%;
}

.hidding-square-right {
  background-color: #fff;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: 9999;
  animation: openpoints 3s ease forwards reverse;
  border-radius: 10%;
}

@-webkit-keyframes openpoints {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes openpoints {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.separation {
  margin-right: 250px;
}

.paralelogramo {
  background-color: #1f6391;
  width: 60px;
  height: 50px;
  border-radius: 5px;
}

.nombre-izq {
  background: black;
  height: 40px;
  width: 20%;
  margin: 0;
  opacity: 0.7;
  position: absolute;
  border-radius: 7px;
  left: 22%;
}

.nombre-der {
  background: black;
  border-radius: 7px;
  height: 40px;
  width: 20%;
  margin: 0;
  opacity: 0.7;
  position: absolute;
  right: 22%;
}

.izquierdo {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.derecho {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.noskew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15%;
  font-family: 'Fugaz One', cursive;
}

.noskewleft {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.noskewright {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.nombre {
  font-family: 'Fugaz One', sans-serif;
  margin: 0;
  height: 100%;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@-webkit-keyframes unflip {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes unflip {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

.flip {
  -webkit-animation: flip 0.5s ease forwards;
          animation: flip 0.5s ease forwards;
}

.no-flip {
  -webkit-animation: unflip 0.5s ease forwards;
          animation: unflip 0.5s ease forwards;
}

.neon-dark {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}
/*# sourceMappingURL=marcador.css.map */