@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Roboto&family=Fugaz+One&display=swap');
$red: #1f6391;
p{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size:26px;
    margin: 0;
    height: 35px;
}
.hidding-square{
    background-color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    z-index: 9999;
    animation: openpoints 3s ease forwards reverse;
}
.hidding-square-right{
    background-color: #fff;
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    z-index: 9999;
    animation: openpoints 3s ease forwards reverse;
}
@keyframes openpoints {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    
}

.flx{
    display: flex;
    justify-content: center;
    align-items: center;
}

.separation{
    margin-right: 250px;
}


.paralelogramo{
    background-color: $red;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}


.nombre-izq{
    background: rgb(0,0,0);
    height: 40px;
    width: 20%;
    margin: 0;
    opacity: 0.7;
    position: absolute;
    border-radius: 7px;
    left:22%;
}
.nombre-der{
    background: rgb(0,0,0);
    border-radius: 7px;
    height: 40px;
    width: 20%;
    margin: 0;
    opacity: 0.7;
    position: absolute;
    right:22%;
}



.izquierdo{
    transform: skew(0deg);
}
.derecho{
    transform: skew(0deg);
}

.noskew{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15%;
    font-family: 'Fugaz One', cursive;


}
.noskewleft{
    transform: skew(0deg)
}
.noskewright{
    transform: skew(0deg)
}
.nombre{
    font-family: 'Fugaz One', sans-serif;
    margin: 0;
    height: 100%;
    
}


@keyframes flip {
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(-90deg);
    }
}

@keyframes unflip {
    0%{
        transform: rotateX(-90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.flip{
    animation: flip 0.5s ease forwards;
}
.no-flip{
    animation: unflip 0.5s ease forwards;
}

.neon-dark{
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}